En este notebook se estaran creando los archivos de los cuales la API consumira los datos asi como las funciones, combinando de distintas maneras los archivos ya procesados

In [18]:
import pandas as pd
import os
import ast

In [19]:
df_steam_games = pd.read_parquet('C:\\Users\\Juampi\Desktop\\Henry\\PI_MLOps\\Datasets\\archivos_procesados\\steam_games_cleaned.parquet')
df_user_reviews = pd.read_parquet('C:\\Users\\Juampi\\Desktop\\Henry\\PI_MLOps\\Datasets\\archivos_procesados\\user_reviews_cleaned.parquet')
df_user_items = pd.read_parquet('C:\\Users\\Juampi\\Desktop\\Henry\\PI_MLOps\\Datasets\\archivos_procesados\\users_items_cleaned.parquet')

# 1. developer

def developer( desarrollador : str ): Cantidad de items y porcentaje de contenido Free por año según empresa desarrolladora

In [20]:
df_steam_games

,genres,name,price,item_id,developer,release_year
0,"[Strategy, Action, Indie, Casual, Simulation]",Lost Summoner Kitty,4.99,761140.0,Kotoshiro,2018
1,"[Free to Play, Strategy, Indie, RPG]",Ironbound,0.00,643980.0,Secret Level SRL,2018
2,"[Free to Play, Simulation, Sports, Casual, Indie]",Real Pool 3D - Poolians,0.00,670290.0,Poolians.com,2017
3,"[Action, Adventure, Casual]",弹炸人2222,0.99,767400.0,彼岸领域,2017
4,"[Action, Indie, Casual, Sports]",Log Challenge,2.99,773570.0,None,<NA>
...,...,...,...,...,...,...
32130,"[Strategy, Indie, Casual, Simulation]",Colony On Mars,1.99,773640.0,"Nikita ""Ghost_RUS""",2018
32131,"[Strategy, Indie, Casual]",LOGistICAL: South Africa,4.99,733530.0,Sacada,2018
32132,"[Indie, Simulation, Racing]",Russian Roads,1.99,610660.0,Laush Dmitriy Sergeevich,2018
32133,"[Indie, Casual]",EXIT 2 - Directions,4.99,658870.0,"xropi,stev3ns",2017
32134,"[Early Access, Adventure, Indie, Action, Simul...",Maze Run VR,4.99,681550.0,None,<NA>

In [21]:
df_developer = df_steam_games[['developer','release_year','price']]

In [92]:
 # df_developer['Año'] = df_developer['release_year']

C:\Users\Juampi\AppData\Local\Temp\ipykernel_8700\3612243638.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_developer['Año'] = df_developer['release_year']

In [93]:
# df_developer.drop(columns=['release_year'], inplace=True)

C:\Users\Juampi\AppData\Local\Temp\ipykernel_8700\3271821412.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_developer.drop(columns=['release_year'], inplace=True)

In [22]:
df_developer.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32133 entries, 0 to 32134
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   developer     28900 non-null  object
 1   release_year  29782 non-null  Int64
 2   price         32133 non-null  float64
dtypes: Int64(1), float64(1), object(1)
memory usage: 1.0+ MB

In [23]:
df_developer['developer'] = df_developer['developer'].str.lower()

C:\Users\Juampi\AppData\Local\Temp\ipykernel_5696\2865099105.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_developer['developer'] = df_developer['developer'].str.lower()

In [24]:
df_developer

                      developer  release_year  price
0                     kotoshiro          2018   4.99
1              secret level srl          2018   0.00
2                  poolians.com          2017   0.00
3                          彼岸领域          2017   0.99
4                          None          <NA>   2.99
...                         ...           ...    ...
32130        nikita "ghost_rus"          2018   1.99
32131                    sacada          2018   4.99
32132  laush dmitriy sergeevich          2018   1.99
32133             xropi,stev3ns          2017   4.99
32134                      None          <NA>   4.99

[32133 rows x 3 columns]

In [11]:

def Developer(df, desarrolladora):
    
    # Filtrar el DataFrame por la desarrolladora específica
    df_desarrolladora = df[df['developer'] == desarrolladora.lower()]

    if df_desarrolladora.empty:
        return print(f"No se encontró la desarrolladora '{desarrolladora}' en el DataFrame.")
    
    # Eliminar filas con valores nulos en la columna 'release_year'
    df_desarrolladora = df_desarrolladora.dropna(subset=['release_year'])
    
    # Contar la cantidad de ítems por año
    cantidad_items_por_anio = df_desarrolladora.groupby('release_year').size()
    
    # Filtrar juegos gratuitos
    df_free = df_desarrolladora[df_desarrolladora['price'] == 0]
    
    # Calcular el porcentaje de contenido gratuito por año
    porcentaje_free_por_anio = df_free.groupby('release_year').size() / cantidad_items_por_anio * 100
    porcentaje_free_por_anio = porcentaje_free_por_anio.fillna(0).astype(int).astype(str) + "%"
    
    # Unir los resultados en un DataFrame
    resultados = pd.DataFrame({
        'Cantidad de Items': cantidad_items_por_anio,
        'Contenido Free': porcentaje_free_por_anio
    })
    
    return resultados

In [25]:
print(Developer(df_developer,'valve'))

              Cantidad de Items Contenido Free
release_year
1998                          1             0%
1999                          1             0%
2000                          2             0%
2001                          1             0%
2003                          1             0%
2004                          5             0%
2005                          1           100%
2006                          2             0%
2007                          3            33%
2008                          1             0%
2009                          1             0%
2010                          2            50%
2011                          1             0%
2012                          2            50%
2014                          7           100%
2016                          1           100%
2017                          2             0%

In [29]:

df_developer['release_year'] = df_developer['release_year'].astype(object)

C:\Users\Juampi\AppData\Local\Temp\ipykernel_5696\3006045847.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_developer['release_year'] = df_developer['release_year'].astype(object)

In [30]:
df_developer['price'].astype(object)

0        4.99
1         0.0
2         0.0
3        0.99
4        2.99
         ...
32130    1.99
32131    4.99
32132    1.99
32133    4.99
32134    4.99
Name: price, Length: 32133, dtype: object

In [31]:
df_developer.fillna('No-data')

                      developer release_year  price
0                     kotoshiro         2018   4.99
1              secret level srl         2018   0.00
2                  poolians.com         2017   0.00
3                          彼岸领域         2017   0.99
4                       No-data      No-data   2.99
...                         ...          ...    ...
32130        nikita "ghost_rus"         2018   1.99
32131                    sacada         2018   4.99
32132  laush dmitriy sergeevich         2018   1.99
32133             xropi,stev3ns         2017   4.99
32134                   No-data      No-data   4.99

[32133 rows x 3 columns]

In [32]:
df_developer.to_parquet('C:\\Users\\Juampi\\Desktop\\Henry\\PI_MLOps\\Datasets\\archivos_API\\Developer.parquet')