En este notebook se estaran creando los archivos de los cuales la API consumira los datos asi como las funciones, combinando de distintas maneras los archivos ya procesados

In [16]:
import pandas as pd
import os
import ast

In [17]:
df_steam_games = pd.read_parquet('C:\\Users\\Juampi\Desktop\\Henry\\PI_MLOps\\Datasets\\archivos_procesados\\steam_games_cleaned.parquet')
df_user_reviews = pd.read_parquet('C:\\Users\\Juampi\\Desktop\\Henry\\PI_MLOps\\Datasets\\archivos_procesados\\user_reviews_cleaned.parquet')
df_user_items = pd.read_parquet('C:\\Users\\Juampi\\Desktop\\Henry\\PI_MLOps\\Datasets\\archivos_procesados\\users_items_cleaned.parquet')

# 1. developer

def developer( desarrollador : str ): Cantidad de items y porcentaje de contenido Free por año según empresa desarrolladora

In [18]:
df_steam_games

,genres,name,price,item_id,developer,release_year
0,"[Strategy, Action, Indie, Casual, Simulation]",Lost Summoner Kitty,4.99,761140.0,Kotoshiro,2018
1,"[Free to Play, Strategy, Indie, RPG]",Ironbound,0.00,643980.0,Secret Level SRL,2018
2,"[Free to Play, Simulation, Sports, Casual, Indie]",Real Pool 3D - Poolians,0.00,670290.0,Poolians.com,2017
3,"[Action, Adventure, Casual]",弹炸人2222,0.99,767400.0,彼岸领域,2017
4,"[Action, Indie, Casual, Sports]",Log Challenge,2.99,773570.0,None,<NA>
...,...,...,...,...,...,...
32130,"[Strategy, Indie, Casual, Simulation]",Colony On Mars,1.99,773640.0,"Nikita ""Ghost_RUS""",2018
32131,"[Strategy, Indie, Casual]",LOGistICAL: South Africa,4.99,733530.0,Sacada,2018
32132,"[Indie, Simulation, Racing]",Russian Roads,1.99,610660.0,Laush Dmitriy Sergeevich,2018
32133,"[Indie, Casual]",EXIT 2 - Directions,4.99,658870.0,"xropi,stev3ns",2017
32134,"[Early Access, Adventure, Indie, Action, Simul...",Maze Run VR,4.99,681550.0,None,<NA>

In [19]:
df_developer = df_steam_games[['developer','release_year','price']]

In [20]:
 # df_developer['Año'] = df_developer['release_year']

In [21]:
# df_developer.drop(columns=['release_year'], inplace=True)

In [22]:
df_developer.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32133 entries, 0 to 32134
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   developer     28900 non-null  object
 1   release_year  29782 non-null  Int64
 2   price         32133 non-null  float64
dtypes: Int64(1), float64(1), object(1)
memory usage: 1.0+ MB

In [23]:
df_developer['developer'] = df_developer['developer'].str.lower()

C:\Users\Juampi\AppData\Local\Temp\ipykernel_7600\2865099105.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_developer['developer'] = df_developer['developer'].str.lower()

In [24]:
df_developer

                      developer  release_year  price
0                     kotoshiro          2018   4.99
1              secret level srl          2018   0.00
2                  poolians.com          2017   0.00
3                          彼岸领域          2017   0.99
4                          None          <NA>   2.99
...                         ...           ...    ...
32130        nikita "ghost_rus"          2018   1.99
32131                    sacada          2018   4.99
32132  laush dmitriy sergeevich          2018   1.99
32133             xropi,stev3ns          2017   4.99
32134                      None          <NA>   4.99

[32133 rows x 3 columns]

In [25]:

df_developer['release_year'] = df_developer['release_year'].astype(object)

C:\Users\Juampi\AppData\Local\Temp\ipykernel_7600\3006045847.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_developer['release_year'] = df_developer['release_year'].astype(object)

In [26]:
df_developer['price'].astype(object)

0        4.99
1         0.0
2         0.0
3        0.99
4        2.99
         ...
32130    1.99
32131    4.99
32132    1.99
32133    4.99
32134    4.99
Name: price, Length: 32133, dtype: object

In [27]:
df_developer.fillna('No-data')

                      developer release_year  price
0                     kotoshiro         2018   4.99
1              secret level srl         2018   0.00
2                  poolians.com         2017   0.00
3                          彼岸领域         2017   0.99
4                       No-data      No-data   2.99
...                         ...          ...    ...
32130        nikita "ghost_rus"         2018   1.99
32131                    sacada         2018   4.99
32132  laush dmitriy sergeevich         2018   1.99
32133             xropi,stev3ns         2017   4.99
32134                   No-data      No-data   4.99

[32133 rows x 3 columns]

In [28]:

def Developer(df, desarrolladora):
    
    # Filtrar el DataFrame por la desarrolladora específica
    df_desarrolladora = df[df['developer'] == desarrolladora.lower()]

    if df_desarrolladora.empty:
        return print(f"No se encontró la desarrolladora '{desarrolladora}' en el DataFrame.")
    
    # Eliminar filas con valores nulos en la columna 'release_year'
    df_desarrolladora = df_desarrolladora.dropna(subset=['release_year'])
    
    # Contar la cantidad de ítems por año
    cantidad_items_por_anio = df_desarrolladora.groupby('release_year').size()
    
    # Filtrar juegos gratuitos
    df_free = df_desarrolladora[df_desarrolladora['price'] == 0]
    
    # Calcular el porcentaje de contenido gratuito por año
    porcentaje_free_por_anio = df_free.groupby('release_year').size() / cantidad_items_por_anio * 100
    porcentaje_free_por_anio = porcentaje_free_por_anio.fillna(0).astype(int).astype(str) + "%"
    
    # Unir los resultados en un DataFrame
    resultados = pd.DataFrame({
        'Cantidad de Items': cantidad_items_por_anio,
        'Contenido Free': porcentaje_free_por_anio
    })
    
    return resultados

In [29]:
print(Developer(df_developer,'valve'))

              Cantidad de Items Contenido Free
release_year
1998                          1             0%
1999                          1             0%
2000                          2             0%
2001                          1             0%
2003                          1             0%
2004                          5             0%
2005                          1           100%
2006                          2             0%
2007                          3            33%
2008                          1             0%
2009                          1             0%
2010                          2            50%
2011                          1             0%
2012                          2            50%
2014                          7           100%
2016                          1           100%
2017                          2             0%

In [30]:
df_developer.to_parquet('C:\\Users\\Juampi\\Desktop\\Henry\\PI_MLOps\\Datasets\\archivos_API\\Developer.parquet')

# 2. userForGenre

 Debe devolver el usuario que acumula más horas jugadas para el género dado y una lista de la acumulación de horas jugadas por año.

In [29]:
df_steam_games

,genres,name,price,item_id,developer,release_year
0,"[Strategy, Action, Indie, Casual, Simulation]",Lost Summoner Kitty,4.99,761140.0,Kotoshiro,2018
1,"[Free to Play, Strategy, Indie, RPG]",Ironbound,0.00,643980.0,Secret Level SRL,2018
2,"[Free to Play, Simulation, Sports, Casual, Indie]",Real Pool 3D - Poolians,0.00,670290.0,Poolians.com,2017
3,"[Action, Adventure, Casual]",弹炸人2222,0.99,767400.0,彼岸领域,2017
4,"[Action, Indie, Casual, Sports]",Log Challenge,2.99,773570.0,None,<NA>
...,...,...,...,...,...,...
32130,"[Strategy, Indie, Casual, Simulation]",Colony On Mars,1.99,773640.0,"Nikita ""Ghost_RUS""",2018
32131,"[Strategy, Indie, Casual]",LOGistICAL: South Africa,4.99,733530.0,Sacada,2018
32132,"[Indie, Simulation, Racing]",Russian Roads,1.99,610660.0,Laush Dmitriy Sergeevich,2018
32133,"[Indie, Casual]",EXIT 2 - Directions,4.99,658870.0,"xropi,stev3ns",2017
32134,"[Early Access, Adventure, Indie, Action, Simul...",Maze Run VR,4.99,681550.0,None,<NA>

In [30]:
df_steam_games.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32133 entries, 0 to 32134
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   genres        31995 non-null  object
 1   name          32132 non-null  object
 2   price         32133 non-null  float64
 3   item_id       32133 non-null  float64
 4   developer     28900 non-null  object
 5   release_year  29782 non-null  Int64
dtypes: Int64(1), float64(2), object(3)
memory usage: 1.7+ MB

In [31]:
df_user_items

        item_id            user_id  hours_game
0            10  76561197970982479        0.10
2            30  76561197970982479        0.12
8           300  76561197970982479       78.88
9           240  76561197970982479       30.88
10         3830  76561197970982479        5.55
...         ...                ...         ...
5153202  304930  76561198329548331       11.28
5153203  227940  76561198329548331        0.72
5153206  388490  76561198329548331        0.05
5153207  521570  76561198329548331        0.07
5153208  519140  76561198329548331        0.05

[3246362 rows x 3 columns]

In [32]:
df_user_items.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3246362 entries, 0 to 5153208
Data columns (total 3 columns):
 #   Column      Dtype
---  ------      -----
 0   item_id     object
 1   user_id     object
 2   hours_game  float64
dtypes: float64(1), object(2)
memory usage: 99.1+ MB

In [91]:
df_game = df_steam_games[['genres', 'item_id', 'price', 'release_year']]

In [92]:
df_game

,genres,item_id,price,release_year
0,"[Strategy, Action, Indie, Casual, Simulation]",761140.0,4.99,2018
1,"[Free to Play, Strategy, Indie, RPG]",643980.0,0.00,2018
2,"[Free to Play, Simulation, Sports, Casual, Indie]",670290.0,0.00,2017
3,"[Action, Adventure, Casual]",767400.0,0.99,2017
4,"[Action, Indie, Casual, Sports]",773570.0,2.99,<NA>
...,...,...,...,...
32130,"[Strategy, Indie, Casual, Simulation]",773640.0,1.99,2018
32131,"[Strategy, Indie, Casual]",733530.0,4.99,2018
32132,"[Indie, Simulation, Racing]",610660.0,1.99,2018
32133,"[Indie, Casual]",658870.0,4.99,2017
32134,"[Early Access, Adventure, Indie, Action, Simul...",681550.0,4.99,<NA>

In [99]:
df_user_items['item_id'] = df_user_items['item_id'].astype(int)
df_game['item_id'] = df_game['item_id'].astype(int)

C:\Users\Juampi\AppData\Local\Temp\ipykernel_440\3406853826.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_game['item_id'] = df_game['item_id'].astype(int)

In [100]:
df_game.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32133 entries, 0 to 32134
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   genres        31995 non-null  object
 1   item_id       32133 non-null  int32
 2   price         32133 non-null  float64
 3   release_year  29782 non-null  Int64
dtypes: Int64(1), float64(1), int32(1), object(1)
memory usage: 1.1+ MB

In [101]:
df_user_items.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3246362 entries, 0 to 5153208
Data columns (total 3 columns):
 #   Column      Dtype
---  ------      -----
 0   item_id     int32
 1   user_id     object
 2   hours_game  float64
dtypes: float64(1), int32(1), object(1)
memory usage: 86.7+ MB

In [102]:
#  merge de los DataFrames
merged_data=pd.merge(df_user_items,df_game , on='item_id',how='inner')

In [103]:
merged_data

,item_id,user_id,hours_game,genres,price,release_year
0,10,76561197970982479,0.10,"[Action, Strategy]",9.99,2000
1,10,doctr,1.55,"[Action, Strategy]",9.99,2000
2,10,corrupted_soul,1.80,"[Action, Strategy]",9.99,2000
3,10,WeiEDKrSat,5.47,"[Action, Strategy]",9.99,2000
4,10,death-hunter,104.58,"[Action, Strategy]",9.99,2000
...,...,...,...,...,...,...
2833978,354280,76561198107283457,2.73,"[Indie, Casual, Action, Simulation]",5.99,2016
2833979,464120,Miami_Max,0.02,[Utilities],1.99,2016
2833980,367090,76561198146468235,0.02,"[Indie, Sports, Action]",4.99,2015
2833981,448540,massimo23,0.02,"[Indie, Adventure]",3.99,2016
2833982,485270,danebuchanan,0.12,"[Casual, Simulation]",4.99,<NA>

In [104]:
merged_data.drop(['item_id'], axis=1, inplace=True)
merged_data.dropna(subset=['hours_game', 'release_year'], inplace=True)

merged_data['hours_game'] = merged_data['hours_game'].astype(int)
merged_data['release_year'] = merged_data['release_year'].astype(int)

In [108]:

merged_data = merged_data.dropna(subset=['genres'])


merged_data['genres'] = merged_data['genres'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)

In [109]:

#Expandimos las listas en columnas
merged_data = merged_data.explode('genres').reset_index(drop=True)

In [110]:

# Encontrar el jugador con más horas jugadas por género y año
max_hours_df = merged_data.groupby(['genres', 'release_year', 'user_id']).agg({'hours_game': 'max'}).reset_index()

In [111]:

# Segunda agrupación para obtener las horas jugadas por año para el usuario seleccionado
max_hours = max_hours_df.groupby(['genres', 'release_year']).agg({'user_id': 'first', 'hours_game': 'max'}).reset_index()

In [121]:
max_hours['genres'] = [genre.lower() for genre in max_hours['genres']]

In [126]:
max_hours['genres'].unique()

array(['action', 'adventure', 'audio production', 'casual',
       'early access', 'education', 'free to play', 'indie',
       'massively multiplayer', 'photo editing', 'rpg', 'racing',
       'simulation', 'software training', 'sports', 'strategy',
       'utilities', 'video production', 'web publishing'], dtype=object)

In [130]:
max_hours

             genres  release_year            user_id  hours_game
0            action          1983               2Ta4           5
1            action          1984  76561197975369524           1
2            action          1988  10101010101010109         127
3            action          1989  76561198007539695           8
4            action          1990             157645          23
..              ...           ...                ...         ...
334  web publishing          2013             -Kenny        1090
335  web publishing          2014          095843067          94
336  web publishing          2015        19te_Polska        1183
337  web publishing          2016  76561198013000952           2
338  web publishing          2017              24453          31

[339 rows x 4 columns]

In [122]:
def UserForGenre(genero:str):
    consulta2 = max_hours
    
    # Filtrar el DataFrame por el género dado
    genre_data = consulta2[consulta2['genres'] == genero.lower()]

    # Encontrar al usuario con más horas jugadas para ese género
    top_user = genre_data.loc[genre_data['hours_game'].idxmax()]['user_id']

    # Crear una lista de acumulación de horas jugadas por año
    hours_by_year = genre_data.groupby('release_year')['hours_game'].sum().reset_index()
  
    hours_by_year = hours_by_year.rename(columns={'release_year': 'Año', 'hours_game': 'Horas'})
    
    hours_list = hours_by_year.to_dict(orient='records')

    # Crear el diccionario de retorno
    result = {
        "Usuario con más horas jugadas para Género {}".format(genero): top_user,
        "Horas jugadas": hours_list
    }

    return result

In [131]:
print(UserForGenre('web publishing'))

{'Usuario con más horas jugadas para Género web publishing': '1-800-Invisible', 'Horas jugadas': [{'Año': 2005, 'Horas': 195}, {'Año': 2007, 'Horas': 50}, {'Año': 2012, 'Horas': 1709}, {'Año': 2013, 'Horas': 1090}, {'Año': 2014, 'Horas': 94}, {'Año': 2015, 'Horas': 1183}, {'Año': 2016, 'Horas': 2}, {'Año': 2017, 'Horas': 31}]}

In [132]:
max_hours.to_parquet('C:\\Users\\Juampi\\Desktop\\Henry\\PI_MLOps\\Datasets\\archivos_API\\UserForGenre.parquet')